# Created by .ignore support plugin (hsz.mobi)
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/*.class
.idea/vcs.xml
app/libs/
.idea/runConfigurations.xml
.idea/modules.xml
.idea/gradle.xml
.idea